version: "3.9"

services:
  svelte-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    env_file:
      - .env
